<a href="https://colab.research.google.com/github/BENMEZIAN/Pandas-tutorial/blob/main/Grouping_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [89]:
import pandas as pd
import numpy as np

data = {
    'Firstname': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Class': [10, 11, 10, 12, 11, 10, 11, 10, 12, 11, 10, 11, 10, 12, 11, 10, 12],
    'Subject': ['Math', 'Science', 'English', 'Math', 'Science', 'Physics', 'Science', 'English', 'Math', 'Science','Science', 'Science', 'English', 'Math', 'Science', 'History', 'Physics'],
    'Score': [85, 92, 78, 88, 95, 80, 90, 82, 89, 93, 75, 87, 91, 94, 90, 79, 86]
}

df = pd.DataFrame(data)
df

   Firstname  Class  Subject  Score
0      Alice     10     Math     85
1        Bob     11  Science     92
2    Charlie     10  English     78
3      David     12     Math     88
4        Eve     11  Science     95
5      Alice     10  Physics     80
6        Bob     11  Science     90
7    Charlie     10  English     82
8      David     12     Math     89
9        Eve     11  Science     93
10     Alice     10  Science     75
11       Bob     11  Science     87
12   Charlie     10  English     91
13     David     12     Math     94
14       Eve     11  Science     90
15     Frank     10  History     79
16     Grace     12  Physics     86

In [90]:
# Do group by
df_firstname = df.groupby('Firstname')

for key, dataFrame in df_firstname:
    print(key)
    print(dataFrame)
    print()

Alice
   Firstname  Class  Subject  Score
0      Alice     10     Math     85
5      Alice     10  Physics     80
10     Alice     10  Science     75

Bob
   Firstname  Class  Subject  Score
1        Bob     11  Science     92
6        Bob     11  Science     90
11       Bob     11  Science     87

Charlie
   Firstname  Class  Subject  Score
2    Charlie     10  English     78
7    Charlie     10  English     82
12   Charlie     10  English     91

David
   Firstname  Class Subject  Score
3      David     12    Math     88
8      David     12    Math     89
13     David     12    Math     94

Eve
   Firstname  Class  Subject  Score
4        Eve     11  Science     95
9        Eve     11  Science     93
14       Eve     11  Science     90

Frank
   Firstname  Class  Subject  Score
15     Frank     10  History     79

Grace
   Firstname  Class  Subject  Score
16     Grace     12  Physics     86

In [ ]:
df_firstname.mean(numeric_only=True)

           Class      Score
Firstname
Alice       10.0  80.000000
Bob         11.0  89.666667
Charlie     10.0  83.666667
David       12.0  90.333333
Eve         11.0  92.666667
Frank       10.0  79.000000
Grace       12.0  86.000000

In [ ]:
df_firstname.max(numeric_only=True)

           Class  Score
Firstname
Alice         10     85
Bob           11     92
Charlie       10     91
David         12     94
Eve           11     95
Frank         10     79
Grace         12     86

In [53]:
# prompt: Would you like to get back the code before refrshing the page

import pandas as pd
import numpy as np

data = {
    'Firstname': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Class': [10, 11, 10, 12, 11, 10, 11, 10, 12, 11, 10, 11, 10, 12, 11, 10, 12],
    'Subject': ['Math', 'Science', 'English', 'Math', 'Science', 'Physics', 'Science', 'English', 'Math', 'Science','Science', 'Science', 'English', 'Math', 'Science', 'History', 'Physics'],
    'Score': [85, 92, 78, 88, 95, 80, 90, 82, 89, 93, 75, 87, 91, 94, 90, 79, 86]
}

df = pd.DataFrame(data)
df

# Do group by
df_firstname = df.groupby('Firstname')

for key, dataFrame in df_firstname:
    print(key)
    print(dataFrame)
    print()

df_firstname.mean(numeric_only=True)
#df_firstname.max(numeric_only=True)

Alice
   Firstname  Class  Subject  Score
0      Alice     10     Math     85
5      Alice     10  Physics     80
10     Alice     10  Science     75

Bob
   Firstname  Class  Subject  Score
1        Bob     11  Science     92
6        Bob     11  Science     90
11       Bob     11  Science     87

Charlie
   Firstname  Class  Subject  Score
2    Charlie     10  English     78
7    Charlie     10  English     82
12   Charlie     10  English     91

David
   Firstname  Class Subject  Score
3      David     12    Math     88
8      David     12    Math     89
13     David     12    Math     94

Eve
   Firstname  Class  Subject  Score
4        Eve     11  Science     95
9        Eve     11  Science     93
14       Eve     11  Science     90

Frank
   Firstname  Class  Subject  Score
15     Frank     10  History     79

Grace
   Firstname  Class  Subject  Score
16     Grace     12  Physics     86

           Class      Score
Firstname
Alice       10.0  80.000000
Bob         11.0  89.666667
Charlie     10.0  83.666667
David       12.0  90.333333
Eve         11.0  92.666667
Frank       10.0  79.000000
Grace       12.0  86.000000

In [95]:
df_firstname_subject = df.groupby('Firstname')['Subject'].value_counts()
print(df_firstname_subject)

total_subject_by_firstname = df.groupby('Firstname')['Subject'].count()
print(total_subject_by_firstname)

# df.groupby(['Firstname', 'Class', 'Subject']).mean()

Firstname  Subject
Alice      Math       1
           Physics    1
           Science    1
Bob        Science    3
Charlie    English    3
David      Math       3
Eve        Science    3
Frank      History    1
Grace      Physics    1
Name: count, dtype: int64
Firstname
Alice      3
Bob        3
Charlie    3
David      3
Eve        3
Frank      1
Grace      1
Name: Subject, dtype: int64

In [79]:
df_ign = pd.read_csv('ign.csv')
df_ign

,Unnamed: 0,score_phrase,title,url,platform,score,genre,editors_choice,release_year,release_month,release_day
0,0,Amazing,LittleBigPlanet PS Vita,/games/littlebigplanet-vita/vita-98907,PlayStation Vita,9.0,Platformer,Y,2012.0,9.0,12.0
1,1,Amazing,LittleBigPlanet PS Vita -- Marvel Super Hero E...,/games/littlebigplanet-ps-vita-marvel-super-he...,PlayStation Vita,9.0,Platformer,Y,2012.0,9.0,12.0
2,2,Great,Splice: Tree of Life,/games/splice/ipad-141070,iPad,8.5,Puzzle,N,2012.0,9.0,12.0
3,3,Great,NHL 13,/games/nhl-13/xbox-360-128182,Xbox 360,8.5,Sports,N,2012.0,9.0,11.0
4,4,Great,NHL 13,/games/nhl-13/ps3-128181,PlayStation 3,8.5,Sports,N,2012.0,9.0,11.0
...,...,...,...,...,...,...,...,...,...,...,...
15768,15768,Amazing,The Witcher 2: Assassins of Kings,/games/the-witcher-2-assassins-of-kings/pc-143...,PC,9.0,RPG,Y,2011.0,5.0,24.0
15769,15769,Great,Dirt 3,/games/dirt-3/pc-82104,PC,8.5,Racing,Y,2011.0,5.0,24.0
15770,15770,Okay,MX vs. ATV Alive,/games/mx-vs-atv-alive/ps3-86256,PlayStation 3,6.5,Racing,N,2011.0,5.0,24.0
15771,15771,Bad,NASCAR The Game 2011,/games/nascar-the-game-2011/wii-87260,Wii,4.5,Racing,N,2011.0,5.0,24.0
15772,15772,Good,Fortix 2,/,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [96]:
df_score_phrase = df_ign.groupby(['score_phrase'])['genre'].value_counts()
print(df_score_phrase)

total_genre_by_score_phrase = df_ign.groupby(['score_phrase'])['genre'].count()
print(total_genre_by_score_phrase)

score_phrase  genre
Amazing       Action               181
              Shooter              172
              Sports               170
              RPG                  116
              Action, Adventure     95
                                  ...
Unbearable    Music                  1
              Party                  1
              Productivity           1
              RPG                    1
              Trivia                 1
Name: count, Length: 444, dtype: int64
score_phrase
Amazing        1342
Awful           613
Bad            1127
Disaster          3
Good           4059
Great          3921
Masterpiece      34
Mediocre       1717
Okay           2540
Painful         316
Unbearable       69
Name: genre, dtype: int64

In [73]:
df_ign['genre'].value_counts()

genre
Action                   3279
Sports                   1759
Shooter                  1276
Racing                   1148
Strategy                  920
                         ...
Hunting, Simulation         1
Sports, Editor              1
Action, Platformer          1
Simulation, Adventure       1
Platformer, Adventure       1
Name: count, Length: 87, dtype: int64

In [99]:
print(df_ign['score_phrase'].value_counts())

score_phrase
Good           4074
Great          3928
Okay           2545
Mediocre       1718
Amazing        1343
Bad            1128
Awful           614
Painful         317
Unbearable       69
Masterpiece      34
Disaster          3
Name: count, dtype: int64

In [87]:
# Sample dataset
data = {
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank'],
    'gender': ['female', 'male', 'male', 'female', 'female', 'male']
}

df = pd.DataFrame(data)

# count value of gender
count_values_gender = df['gender'].value_counts()
print("Count values of gender",count_values_gender)

# number of name by gender
names_by_gender = df.groupby(['gender'])['name'].count()
print("Names by gender",names_by_gender)

# number of gender by name
genders_by_name = df.groupby(['name'])['gender'].count()
print("Genders by names",genders_by_name)

Count values of gender gender
female    3
male      3
Name: count, dtype: int64
Names by gender gender
female    3
male      3
Name: name, dtype: int64
Genders by names name
Alice      1
Bob        1
Charlie    1
David      1
Eve        1
Frank      1
Name: gender, dtype: int64