<a href="https://colab.research.google.com/github/BENMEZIAN/Pandas-tutorial/blob/main/How_to_convert_Datatypes_in_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import pandas as pd
import numpy as np

data = {
    'Firstname': ['Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Alice', 'Bob', 'Charlie', 'David', 'Eve', 'Frank', 'Grace'],
    'Class': [10, 11, 10, 12, 11, 10, 11, 10, 12, 11, 10, 11, 10, 12, 11, 10, 12],
    'Subject': ['Math', 'Science', 'English', 'Math', 'Science', 'Physics', 'Science', 'English', 'Math', 'Science','Science', 'Science', 'English', 'Math', 'Science', 'History', 'Physics'],
    'Score': [85, 92, 78, 88, 95, 80, 90, 82, 89, 93, 75, 87, 91, 94, 90, 79, 86],
    'Grade': ['A', 'A', 'B', 'A', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'A', 'A', 'A', 'A', 'B', 'A']
}

df = pd.DataFrame(data)
df

print(df.dtypes)

# No need to convert type here, all things is right

Firstname    object
Class         int64
Subject      object
Score         int64
Grade        object
dtype: object

In [8]:
# Method 1: using astype() function
import pandas as pd

# Sample data
data = {
    'Age': ['23', '34', '45', '56'],
    'Salary': ['1000', '2000', '3000', '4000']
}

df = pd.DataFrame(data)
import pandas as pd

# Create and print DataFrame
df = pd.DataFrame({
   'A': ['1', '2', '3'],
   'B': ['4', '5', '6'],
   'C': ['7', '8', '9']
})

print(df)

df.dtypes # Print data types of each column in DataFrame

# Change column A's values to floats
df['A'] = df['A'].astype(float)

# Change column B and C's values to integers
df = df.astype({'B': int, 'C': int})

print("\nConverted:\n")

print(df) # Print altered DataFrame
print("\n")
print(df.dtypes) # Print data types of each column in DataFrame

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

Converted:

     A  B  C
0  1.0  4  7
1  2.0  5  8
2  3.0  6  9


A    float64
B      int64
C      int64
dtype: object

In [18]:
# Method 2: using df.to_numeric
import pandas as pd

# Create and print DataFrame
df = pd.DataFrame({
   'A': ['1', '2', '3'],
   'B': ['4.0', '5.1', '6.2'],
   'C': ['7', '8', '9']
})
print(df)

# Print data types of each column in DataFrame
print("\n")
print(df.dtypes)

# Change column A's values to a numeric type
df['A'] = pd.to_numeric(df['A'])
# Change column B and C's values to a numeric type
df[['B', 'C']] = df[['B', 'C']].apply(pd.to_numeric)

print("\nConverted:\n")

# Print altered DataFrame
print(df)
# Print data types of each column in DataFrame
print("\n")
print(df.dtypes)

   A    B  C
0  1  4.0  7
1  2  5.1  8
2  3  6.2  9


A    object
B    object
C    object
dtype: object

Converted:

   A    B  C
0  1  4.0  7
1  2  5.1  8
2  3  6.2  9


A      int64
B    float64
C      int64
dtype: object

In [10]:
# Method 3 : using convert_dtype() to apropriate type
import pandas as pd

# Create and print DataFrame
df = pd.DataFrame({
   'A': [1.0, 2.0, 5.3],
   'B': ['z', 'x', 'c'],
   'C': [7, 8, 4],
   'D': ['1', '2', '3']
})
print(df)

# Print data types of each column in DataFrame
print("\n")
print(df.dtypes)

# Change all columns to the appropriate types
df = df.convert_dtypes()

print("\nConverted:\n")

# Print altered DataFrame
print(df)
# Print data types of each column in DataFrame
print("\n")
print(df.dtypes)

     A  B  C  D
0  1.0  z  7  1
1  2.0  x  8  2
2  5.3  c  4  3


A    float64
B     object
C      int64
D     object
dtype: object

Converted:

     A  B  C  D
0  1.0  z  7  1
1  2.0  x  8  2
2  5.3  c  4  3


A           Float64
B    string[python]
C             Int64
D    string[python]
dtype: object

In [16]:
# Sample data with date strings
data = {
    'date_str': ['2025-01-01', '2025-02-02', '2025-03-03']
}

df = pd.DataFrame(data)

print(df.dtypes)

# Convert 'date_str' column to datetime
df['date'] = pd.to_datetime(df['date_str'])

print(df.dtypes)

date_str    object
dtype: object
date_str            object
date        datetime64[ns]
dtype: object

In [13]:
#####################################################################################
#Summary of Data Type Conversion Methods:
# astype(): Use this to convert a single column or multiple columns to a specific data type (e.g., int, float, str, category).
# pd.to_numeric(): Use this to convert a column to numeric types (integer or float) and handle errors.
# pd.to_datetime(): Use this to convert a column of date strings into datetime objects.
# pd.convert_dtype() : Use this to convert a column to apropriate type
#####################################################################################